.main_1_1 a {

    text-decoration: none;

    align-items: center;
}

.main_1_avaliation_page {

    background-color: #004225d9;
    color: white;
    border-radius: 13px;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;

}

.main_1_avaliation_page p {
    color: white;
}

.flex_container div {
    display: flex;
    align-items: center;
    flex-direction: center;
    gap: 10%;
    margin-bottom: 15%;
}

.avaliation_card_title div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

#button_avaliation button {
    background-color: #004225;
    border-radius: 5px;
}

.main_1_1 a {

    text-decoration: none;

    align-items: center;
}

.footer_avaliation_page {
    background-color: rgb(231, 241, 238);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo dos inputs de radio */
.flex_container input[type="radio"] {
    display: none;
    /* Ocultar os inputs de radio padrão */
}

.flex_container label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #aaa;
    border-radius: 50px;
    background: linear-gradient(90deg, #7c9879, rgba(111, 225, 185, 0.759));
    color: #fff;
    transition: all 0.3s;
}

.flex_container input[type="radio"]:checked+label {
    background-color: #f2f2f2;
    border: 2px solid rgb(0, 0, 0);
    color: #000000;
}

/* Estilo do campo CPF */
.flex_container input[type="text"] {
    width: 30%;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 5px;
    background-color: #00422593;
    color: #fff;
    transition: border-color 0.3s;
}

.flex_container input[type="text"]:focus {
    border-color: #09f;
    outline: none;
}

/* Estilo do botão Submit */
#button_avaliation {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #004225;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

#button_avaliation:hover {
    background: linear-gradient(90deg, #09f, #0cf);
    /* Gradiente de exemplo ao passar o mouse */
}

.main_1_avaliation_page a {
    text-decoration: none;
    color: white;
}

.main_1_avaliation_page button {
    border-radius: 5px;
    border: none;
    background-color: #004225;
    padding: 5px;
}

.main_1_avaliation_page button:hover {
    background-color: #09f;
}

#spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}